* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.head {
    background: gray;
    height: 100px;
    background: chocolate;
    padding: 30px 20px;


}

.bg {
    background: #000;
    padding: 20px;
    max-width: 100%;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
}

.col-3 {
    width: 25%;
    padding: 10px;
}

.img {
    width: 280px;
    height: 250px;
    object-fit: contain;
    border-radius: 50%;
    margin-top: 30px;
}

.link-text {
    text-decoration: none;
    color: dodgerblue;
    font-size: 20px;
}


.input {
    font-size: 15px;
    color: white;
    padding: 5px;
    width: 150px;
    border-radius: 10px;
    border: 1px solid black;
    margin-right: 10px;
    margin-left: 10px;
    background: chocolate;
}

.link-btn {
    padding: 5px;
    border: none;
    border-radius: 10px;

}

.block-search {
    width: 250px;
    display: flex;
    align-items: center;
}

h3 {
    color: #13092c;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.box {
    text-align: center;
}

.block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.img-log {
    width: 50px;
    background: none;
    margin-right: 10px;

}

.img-log1 {
    width: 50px;
    background: none;
    margin-right: 10px;

}

.img-food {
    display: flex;
}

.img-inst {
    width: 30px;
}

.img-face {
    width: 15px;
    margin-left: 15px;
}

.info-bg {
    padding: 40px;
    background: url("img/pp.jpeg") center/cover no-repeat;
    width: 100%;


}

.ings {
    color: white;
    margin-bottom: 20px;
}

.img-info {
    width: 300px;
    height: 250px;
    margin-bottom: 20px;
    padding: 10px;
}

.ing-block {
    display: flex;
    align-items: center;
}

.ing {
    align-items: center;
    display: flex;
    width: 25%;
}

.img-ings {
    display: flex;
    width: 100px;
}

.products {
    margin: 0 auto;
    width: 200px;

}

.products-text {
    color: white;
    font-size: 24px;
}

.col-2 {
    padding: 10px;
    width: 50%;
}

.burger {
    display: none;
}