@media (max-width: 576px) {
    .era {
        display: none;
    }
    .box{
        margin-bottom: 20px;
    }
    .bg{
        padding: 0;
    }

    .img-log {
        display: none;
    }

    .img-log1 {
        width: 40px;
    }

    .img-info {
        width: 250px;
    }

    /*.img-log1{*/
    /*    width: 30px;*/
    /*}*/
    .img-face {
        display: none;
    }

    .info-bg {
        padding: 10px;
    }

    .col-3 {
        width: 33.333%;
    }

    .input {
        width: 125px;
        padding: 1px  8px;
    }

    .link-btn {
        padding: 1px;
    }

}